.product-price-editor {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #3c3c3c;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
}
.field-row {
 display: flex;
 flex-direction: row;
}
.field-col {
    flex: 1;
}
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}
